tensorflow==2.13.0
tensorboard==2.13.0
pandas==1.5.3
Keras==2.13.1
gensim==4.3.0
numpy
regex
scipy
scikit-learn
nltk
tqdm
jsonlines
# Hive integration dependencies
pyhive
thrift
thrift_sasl
# Kubeflow dependencies
kfp==2.0.1
kubernetes
